<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <divido_financing>
                <active>0</active>
                <model>Divido\DividoFinancing\Model\Payment</model>
                <title>Pay in instalments with Divido</title>
                <api_key/>
                <min_order_total>0.50</min_order_total>
                <currency>GBP</currency>
            </divido_financing>
        </payment>
    </default>
</config>
